package main

import (
    "fmt"

    "github.com/mattmohan/advent2021/pkg/advent_helpers"
)

type PuzzleInput []string

func ProcessInput(input []string) PuzzleInput {
    return input
}

func SolveA(input PuzzleInput) string {
	return "Not yet implemented"
}

func SolveB(input PuzzleInput) string {
	return "Not yet implemented"
}

func main() {
	inputLines := advent_helpers.ReadInput("{{ dayString }}/input.txt")
	
	fmt.Println("{{ dayString }} Part a: ", SolveA(ProcessInput(inputLines)))
	fmt.Println("{{ dayString }} Part b: ", SolveB(ProcessInput(inputLines)))
}
